{% extends 'commons/_proto.html' %} 
{% from 'commons/navbar_toutiao.html' import macro_body_navbar %} 

{% block body %}
  {{ macro_body_navbar() }}

  <div class="row">
    <div class="search-div">
      <div class="form-group input-group">
        <span class="input-group-addon">宜信头条</span>
        <input type="text" class="form-control" id="search_input" placeholder="搜索" onkeypress="if(event.keyCode==13) {search()}" />
        <div class="input-group-btn">
            <button class="btn btn-default" onClick="javascript:search()"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
      
      <ul class="nav nav-pills head-menu" id="ul_class_nav">
        <!-- <li id="tab-1" class="active" name='股票'><a href="#">股票</a></li>
        <li name='母基金'><a href="#">母基金</a></li>
        <li name='理财'><a href="#">理财</a></li>
        <li name='投资'><a href="#">投资</a></li>
        <li name='重点关注'><a href="#">重点关注</a></li> -->
        <li id="tab-1" class="active" name='法规速递'><a href="#">法规速递</a></li>
        <li id="tab-2" name='行业动态'><a href="#">行业动态</a></li>
      </ul>
      <div class="post-data"></div>
      <div>
        <ul class="sync-pagination pagination-sm" id="pagination"></ul>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    {%if recommend_content %}
    <p>推荐阅读</p>
    <div id="search_result" style="width: 50%; margin-left: auto; margin-right: auto; text-align: left;">
      {% for row in recommend_content%}
      <div>
        <font size=3 color=blue> <a style="color: inherit; text-decoration: underline"
          href="{{row['_source']['article_url']}}">{{row['_source']['title']|safe}}</a>
        </font>
      </div>
      <div style="height: 40px; overflow: hidden; text-overflow: ellipsis">
        <a style="color: inherit" href="{{row['_source']['article_url']}}"><p>{{row['_source']['content']|safe}}</p></a>
      </div>
      {%endfor%}
    </div>
    {%endif %}
  </div>

<script src="lib/jquery.twbsPagination.min.js" type="text/javascript"></script>

<script type=text/javascript>
  var pageNo = "1";
  var pageSize = "10";
  var totalCount = "1000";
  {% if no%}
    pageNo = {{no}};
  {%endif%}
  {% if size%}
    pageSize = {{size}};
  {%endif%}
  {% if totalsize%}
    totalCount = {{totalsize}};
  {%endif%}
  var tag="";
  var totalPages = Math.ceil(totalCount/pageSize);  
  $('.sync-pagination').twbsPagination({
        startPage: pageNo,
        totalPages: totalPages,
        first: '首页',
        prev: '前一页',
        next: '下一页',
        last: '末页',
        onPageClick: function (evt, page) {
           // if (page == pageNo) {
           //     console.debug("current page number clicked, do nothing.");
           //     return;
           // }
            var aActive = document.getElementById('ul_class_nav').getElementsByClassName('active');
            var tab_name = $(document.getElementById(aActive[0].id)).attr("name");
            $.getJSON('/tabs?tab='+tab_name+"&no="+page+"&size="+pageSize, {
                tab : tab_name,
                "no" : page,
                "size" : pageSize
            }, function(data) {
                $('div.post-data').empty();
                var obj = data.result
                $.each(obj, function(i, val) {
                  var add = "<div style='margin-top:20px'> <font size=4 color=blue> <a href='" + val._source.url+"' target='blank' style='color: inherit; text-decoration: underline'>"
                            + val._source.title + "</a> </font> </div> <div style='height: 40px; overflow: hidden; text-overflow: ellipsis'> <p>" + val._source.content + "</p> </div>";
                  $('div.post-data').append(add);
                });
               // $('div.post-data').append("<div> <ul class='sync-pagination pagination-sm' id='pagination'></ul> </div>");
            });
        }
  });

  $(function() {
      $('ul.head-menu li').bind('click', function() {
          $('li').removeClass('active');
      	  $(this).addClass('active');
          $.getJSON('/tabs', {
              tab : $(this).attr("name")
          }, function(data) {
              tag=$(this).attr("name");
              $('div.post-data').empty();
              var obj = data.result
              $.each(obj, function(i, val) {
                var add = "<div style='margin-top:20px'> <font size=4 color=blue> <a href='" + val._source.url+"' target='blank' style='color: inherit; text-decoration: underline'>"
                          + val._source.title + "</a> </font> </div> <div style='height: 40px; overflow: hidden; text-overflow: ellipsis'> <p>" + val._source.content + "</p> </div>";
                $('div.post-data').append(add);
              });
              //$('div.post-data').append("<div> <ul class='sync-pagination pagination-sm' id='pagination'></ul> </div>");
          });
          return false;
      });
      
      $('#tab-1').trigger('click');
  });
  
  

  function post(URL, PARAMS) {
      var temp = document.createElement("form");
      temp.action = URL;
      temp.method = "post";
      temp.style.display = "none";
      for ( var x in PARAMS) {
          var opt = document.createElement("textarea");
          opt.name = x;
          opt.value = PARAMS[x];
          temp.appendChild(opt);
      }
      document.body.appendChild(temp);
      temp.submit();
      return temp;
  }

  function search() {
      post("/search", {
          "query" : document.getElementById("search_input").value
      });
  }

</script>
{% endblock %}
