<div id="header" class="bg-white">
    <div class="container ">
        <div class="site-brand">
            <div class="logo-brand">
                <a href="index.html"><img src="../images/logo.png" alt="金融岛"></a>
            </div>
        </div>
        <div class="top-search">
            <div class="search-group">
                <div class="input-group">
                    {% if query  %}
                    <input type="text" id="search_input" class="form-control" value="{{query}}" onkeypress="if(event.keyCode==13){search()}" />
                    {% else %}
                    <input type="text" id="search_input" class="form-control" placeholder="" />
                    {% endif %}
                    <div class="input-group-btn">
                        <button class="btn btn-primary" onClick="javascript:search()"><i class="icon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="top-nav">
            <li class="active"><a href="http://jinrongdao.com:5100">资讯</a></li>
            <li ><a href="http://jinrongdao.com:6100/index">社区</a></li>
        </ul>
        <!--
        <div class="right-control">
            <ul class="user-nav list-unstyled">
                {% if messages_unread_num %}
                <li><a data-toggle="dropdown" href="#"><i class="icon-bell active"></i></a>
                {% else %}
                <li><a data-toggle="dropdown" href="#"><i class="icon-bell"></i></a>
                {% endif %}
                    <ul class="dropdown-menu ">
                        <li target="_blank"><a href="/message?type=message_all&message_type=4">
                            {% if count_reply %}
                            <span class="badge">{{count_reply}}</span>
                            {% endif %}
                            <span>评论</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="/message?type=message_all&message_type=2">
                            {% if count_do_good %}
                            <span class="badge">{{count_do_good}}</span>
                            {% endif %}
                            <span>赞</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="/message?type=message_all&message_type=3">
                            {% if count_comment %}
                            <span class="badge">{{count_comment}}</span>
                            {% endif %}
                            <span>回复</span>
                            </a>
                        </li>
                        <li target="_blank"><a href="message?type=message_all&message_type=1">
                            {% if count_guanzhu %}
                            <span class="badge">{{count_guanzhu}}</span>
                            {% endif %}
                           <span>关注</span>
                           </a>
                        </li>
                        <li target="_blank"><a href="/private_message">
                            {% if private_unread_count %}
                            <span class="badge">{{private_unread_count}}</span>
                            {% endif %}
                           <span>私信</span>
                           </a>
                        </li>
                    </ul>
                </li>
                <li class="register dropdown-toggle">
                    {% if session.get('userinfo') %}
                    <a id="a_login" data-toggle="dropdown" href="#">{{session.get('userinfo')['name']}}<b class="caret"></b></a>
                    <ul class="dropdown-menu" id="logined_memu">
                        <li><a href="/user_info_post?user_id={{ session.get('userinfo')['id'] }}"><span>我的主页</span></a></li>
                        <li><a href="#" onclick="return to_log_out()"><span>退出</span></a></li>
                    </ul>
                    <a href="#" onclick="to_log_in()" id="a_login_unlogined" style="display:none">登录&注册</a>
                    {% else %}
                    <a href="#" onclick="to_log_in()" id="a_login_unlogined">登录&注册</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        -->
    </div>
</div>
<script type="text/javascript" >
    function form_get(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "get";
        temp.style.display = "none";
        for ( var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }

    function form_post(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for ( var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }

    function search() {
        form_get("/search", {
            "query" : document.getElementById("search_input").value,
            {% if no %}
            "no" : {{no}},
            {% else %}
            "no" : 1,
            {% endif %}
            {% if size %}
            "size" : {{size}}
            {% else %}
            "size" : 10
            {% endif %}
        });
    }

    function search_key(word) {
        document.getElementById("search_input").value = word
        form_get("/search", {
            "query" : document.getElementById("search_input").value,
            {% if no %}
            "no" : {{no}},
            {% else %}
            "no" : 1,
            {% endif %}
            {% if size %}
            "size" : {{size}}
            {% else %}
            "size" : 10
            {% endif %}
        });
    }
</script>
