
{% macro macro_body_navbar() -%}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <nav>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav masthead-nav navbar-right">
                <li class="active"><a href="/index">资讯</a></li>
                <li><a href="http://jinrongdao.com:6100/index" >社区</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" >
 function to_log_in() {
     var cur_url=this.location.href;
     window.location.href="/login?next_url="+cur_url;
 }
 function to_regist() {
     var cur_url=this.location.href;
     window.location.href="/user_create?next_url="+cur_url;
 }
 function to_log_out() {
     var cur_url=this.location.href;
     window.location.href="/logout?next_url="+cur_url;
 }
</script>
{%- endmacro %}
