{% macro macro_body_sidebar() -%}
	<a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>总控制台</a>
	<ul id="dashboard-menu" class="nav nav-list collapse in">
		<li><a href="/hosts">库表信息</a></li>
		<li><a href="/tasks">任务信息</a></li>
		<li><a href="/edits">我的编辑</a></li>
		<li><a href="/reviews">我的审查</a></li>
	</ul>

	<a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>个人信息</a>
	<ul id="accounts-menu" class="nav nav-list collapse">
		<li ><a href="/logout">登出</a></li>
	</ul>
{%- endmacro %}
